$('.form_fields').replaceWith("<p style='margin-top:30px;text-align:center;'>Thanks for submitting your updates!</p><h4 style='padding-bottom:40px;text-align:center;'>Good work :)</h4>");
var wind = window.open('', '_self');
setTimeout(function() {
  wind.close();
}, 3000);
