.projects {
	margin: 0 10px;
}

.project {
	background: #f6f6f6;
	float: left;
	margin: 0 4px;
	width: 300px;
}

.status_update {
	border-bottom: 1px solid #ddd;
	padding: 6px;
}

.status_update_meta {
	font-size: 12px;
	font-weight: 300;
	margin: 6px 0 0 0;
	text-align: right;
}